<?xml version="1.0" encoding="UTF-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

<connectionStrings>
        <!--測試使用window驗證登入資料庫-->
        <add name="MyCnn" connectionString="server=.\SQLEXPRESS;database=Demo;User ID=sa;Password=S76014104;" providerName="using System.Data.SqlClient;" />
          <add name="MyTest" connectionString="server=.\SQLEXPRESS;database=NorthWind;User ID=sa;Password=S76014104;" providerName="using System.Data.SqlClient;" />
    </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" />
        <globalization culture="" enableClientBasedCulture="true" fileEncoding="utf-8" uiCulture="" />
  </system.web>

  <system.webServer>
    <defaultDocument>
        <files>
            <clear />
            <add value="Index.html" />
        </files>
    </defaultDocument>
</system.webServer>
  <appSettings>
    <add key="strCnn" value="server=.\SQLEXPRESS;database=Demo;User ID=sa;Password=S76014104;" />
  </appSettings>
</configuration>
